DATABASE_URL=sqlite:///./safeskies.db
OPENMETEO_BASE_URL=https://api.open-meteo.com/v1
AFRICAS_TALKING_USERNAME=Adminmuuo
AFRICAS_TALKING_KEY=atsk_26ccbf086ff87c6cd7e564a4a4df11095522783b5fb60bbec2ac6b5757ab776c77331e60
FCM_SERVER_KEY=firebase-adminsdk-1zqfn@fir-signup-cb5c2.iam.gserviceaccount.com
