DATABASE_URL=sqlite:///./safeskies.db
OPENMETEO_BASE_URL=https://api.open-meteo.com/v1
AFRICAS_TALKING_USERNAME=Adminmuuo
AFRICAS_TALKING_KEY=atsk_26ccbf086ff87c6cd7e564a4a
FCM_SERVER_KEY=firebase-adminsdk-1
